<h1 fxLayout="row" fxLayoutAlign="center center">INCIDENT - NEW</h1>
<mat-tab-group mat-align-tabs="center" animationDuration="0ms">
    <mat-tab label="Basic info">
        <app-incident-basic-info></app-incident-basic-info>
    </mat-tab>
    <mat-tab label="Devices">
        <app-incident-devices></app-incident-devices>
    </mat-tab>
    <mat-tab label="Resolution">
        <app-incident-resolution></app-incident-resolution>
    </mat-tab>
    <mat-tab label="Calls">
        <app-incident-calls></app-incident-calls>
    </mat-tab>
    <mat-tab label="Crew">
        <app-incident-crew></app-incident-crew>
    </mat-tab>
    <mat-tab label="Multimedia">
        <app-incident-multimedia></app-incident-multimedia>
    </mat-tab>
    <!-- <mat-tab label="Equipment">
        <app-new-incident-equipment></app-new-incident-equipment>
    </mat-tab> -->
  </mat-tab-group>
