
<h1 fxLayoutAlign="center center">Details of consumer</h1>
<div id="register" fxLayoutAlign="center center">
    <form [formGroup]="consumerForm" autocomplete="off" fxFlex="40" fxFlex.lt-lg="70" fxLayout="row wrap" fxLayout.xs="row wrap" fxLayoutAlign="space-evenly center">
        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Server defined" formControlName="name">
        </mat-form-field>
        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Server defined" formControlName="lastName">
        </mat-form-field>        
        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
              <mat-option value="Residental">Residental</mat-option>
              <mat-option value="Commercial">Commercial</mat-option>
            </mat-select>
        </mat-form-field> 
        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Server defined" formControlName="phoneNumber">
        </mat-form-field> 
        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>Priority</mat-label>
            <mat-select formControlName="priority">
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
                <mat-option value="5">5</mat-option>
              </mat-select>
        </mat-form-field> 

        <div class="fs-container">
            <app-map 
            (map$)="receiveMap($event)"
            (zoom$)="receiveZoom($event)"
            id='main-map'
            ></app-map></div>

        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>Location</mat-label>
            <input matInput formControlName="location">
        </mat-form-field>  
        <mat-form-field fxFlex="47" appearance="fill">
            <mat-label>Latitude</mat-label>
            <input matInput formControlName='latitude'>
        </mat-form-field>
        <mat-form-field fxFlex="47" appearance="fill">
            <mat-label>Longitude</mat-label>
            <input matInput formControlName='longitude'>
        </mat-form-field>
        
        
        <button fxFlex="30" mat-raised-button color="basic" (click)="goBack()">Go Back</button>
        <button fxFlex="30" mat-flat-button (click)="delete()" color="warn">Delete</button>
        <button [disabled]='false' fxFlex="35" (click)="edit()" mat-flat-button color="accent" type="submit">Edit</button>
    </form>
</div>
