
<h1 fxLayoutAlign="center center">Device details</h1>
<div id="register" fxLayoutAlign="center center">
    <form [formGroup]="deviceForm" autocomplete="off" fxFlex="40" fxFlex.lt-lg="70" fxLayout="row wrap" fxLayout.xs="row wrap" fxLayoutAlign="space-evenly center">
        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
              <mat-option value="powerSwitch">Power switch</mat-option>
              <mat-option value="fuse">Fuse</mat-option>
              <mat-option value="transformer">Transformer</mat-option>
              <mat-option value="disconnector">Disconnector</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Server defined" formControlName="name">
        </mat-form-field>

        <div class="fs-container">
            <app-map 
            (map$)="receiveMap($event)"
            (zoom$)="receiveZoom($event)"
            id='main-map'
            ></app-map></div>

        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput formControlName='address'>
        </mat-form-field>

        <mat-form-field fxFlex="47" appearance="fill">
            <mat-label>Latitude</mat-label>
            <input matInput formControlName='latitude'>
        </mat-form-field>
        <mat-form-field fxFlex="47" appearance="fill">
            <mat-label>Longitude</mat-label>
            <input matInput formControlName='longitude'>
        </mat-form-field>
        
        <button fxFlex="30" mat-raised-button color="basic" (click)="goBack()">Go Back</button>
        <button fxFlex="30" mat-flat-button (click)="delete()" color="warn">Delete</button>
        <button [disabled]='false' fxFlex="35" (click)="edit()" mat-flat-button color="accent" type="submit">Edit</button>
    </form>
</div>

