<div fxLayoutAlign="center center">
    <form *ngIf="basicInfoForm" [formGroup]="basicInfoForm" (ngSubmit)="basicInfoForm.valid && saveBasicInfo()" autocomplete="off" fxFlex="80" fxFlex.lt-lg="70" fxLayout="row wrap" fxLayout.xs="row wrap" fxLayoutAlign="space-evenly center">
        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>Incident ID</mat-label>
            <input matInput formControlName="id" disabled>
        </mat-form-field>

        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>Affected customers</mat-label>
            <input matInput formControlName='affectedCustomers'>
        </mat-form-field>
        
        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>Type:</mat-label>
            <mat-select formControlName="type">
              <mat-option value="plannedWork">Planned Work</mat-option>
              <mat-option value="unplannedWork">Unplanned Work</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>Outage time:</mat-label>
            <input matInput [matDatepicker]="picker" formControlName='outageTime'>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>Priority:</mat-label>
            <mat-select formControlName="priority">
              <mat-option value="one">1</mat-option>
              <mat-option value="two">2</mat-option>
              <mat-option value="three">3</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>ETR:</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName='estimatedTimetoRestore'>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <mat-slide-toggle fxFlex="45" formControlName="isConfirmed">Confirmed</mat-slide-toggle>

        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>Number of calls</mat-label>
            <input matInput formControlName='numberOfCalls'>
        </mat-form-field>

        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>Status</mat-label>
            <input matInput formControlName='status'>
        </mat-form-field>

        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>Location</mat-label>
            <input matInput formControlName='location'>
        </mat-form-field>

        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>Voltage [kV]</mat-label>
            <input matInput formControlName='voltage'>
        </mat-form-field>

        <!-- <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput formControlName='description'>
        </mat-form-field> -->

        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>ETA:</mat-label>
            <input matInput [matDatepicker]="picker3" formControlName='estimatedTimeOfTheCrewArrival'>
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>ATA:</mat-label>
            <input matInput [matDatepicker]="picker4" formControlName='actualTimeOfTheCrewArrival'>
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>Scheduled time:</mat-label>
            <input matInput [matDatepicker]="picker5" formControlName='scheduledTime'>
            <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
            <mat-datepicker #picker5></mat-datepicker>
        </mat-form-field>

        <!-- <button fxFlex="45" (click)="TakeToResolve()" mat-flat-button color="accent">Take To Resolve</button> -->
        
        <button [disabled]='!basicInfoForm.valid' fxFlex="40" mat-flat-button color="accent" type="submit">Save</button>
        <button fxFlex="40" mat-flat-button color="warn" (click)="Cancel()" type="button">Cancel</button>
    </form>
</div>