<h1 fxLayout="row" fxLayoutAlign="center center">WORK PLANS - NEW</h1>
<mat-tab-group mat-align-tabs="center" animationDuration="0ms">
    <mat-tab label="Basic info">
        <app-new-work-plans-basic-info></app-new-work-plans-basic-info>
    </mat-tab>
    <mat-tab label="History of state changes">
        <app-new-work-plans-history></app-new-work-plans-history>
    </mat-tab>
    <mat-tab label="Multimedia attachments">
        <app-new-work-plans-multimedia></app-new-work-plans-multimedia>
    </mat-tab>
    <mat-tab label="Switching instructions">
        <app-new-work-plans-switching-instructions></app-new-work-plans-switching-instructions>
    </mat-tab>
  </mat-tab-group>
