<div fxLayoutAlign="center center">
    <form [formGroup]="basicInfoForm" (ngSubmit)="basicInfoForm.valid && saveBasicInfo()" autocomplete="off" fxFlex="80" fxFlex.lt-lg="70" fxLayout="row wrap" fxLayout.xs="row wrap" fxLayoutAlign="space-evenly center">
        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>Type:</mat-label>
            <mat-select formControlName="type">
              <mat-option value="plannedWork">Planned Work</mat-option>
              <mat-option value="unplannedWork">Unplanned Work</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>Status</mat-label>
            <input matInput formControlName='status'>
        </mat-form-field>
      
        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>Date/time created:</mat-label>
            <input matInput [matDatepicker]="picker" formControlName='dateTimeCreated'>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>Start date/time:</mat-label>
            <input matInput [matDatepicker]="picker" formControlName='startDateTime'>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>End date/time:</mat-label>
            <input matInput [matDatepicker]="picker" formControlName='endDateTime'>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>Details:</mat-label>
            <input matInput formControlName='details'>
        </mat-form-field>
            
        
        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>Notes:</mat-label>
            <input matInput formControlName='notes'>
        </mat-form-field>
        
        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>Phone No:</mat-label>
            <input matInput formControlName='phoneNo'>
        </mat-form-field>
        
        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>Created by:</mat-label>
            <input matInput formControlName='createdBy'>
        </mat-form-field>
        
        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>Purpose:</mat-label>
            <input matInput formControlName='purpose'>
        </mat-form-field>
        
        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>Company:</mat-label>
            <input matInput formControlName='company'>
        </mat-form-field>
        
        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>Address:</mat-label>
            <input matInput formControlName='address'>
        </mat-form-field>
        
        <mat-form-field fxFlex="45" appearance="fill">
            <mat-label>Incident:</mat-label>
            <input matInput formControlName='incident'>
        </mat-form-field>

        <mat-checkbox fxFlex="45" appearance="fill" formControlName='emergencyWork'>Emergency work</mat-checkbox>
        
        <button [disabled]='!basicInfoForm.valid' fxFlex="30" mat-flat-button color="accent" type="submit">Save</button>
        <button fxFlex="30" mat-flat-button color="warn" type="submit">Cancel</button>
    </form>
</div>