<div id="register" fxLayoutAlign="center center">
    <form [formGroup]="resolutionForm" (ngSubmit)="resolutionForm.valid && register()" autocomplete="off" fxFlex="40" fxFlex.lt-lg="70" fxLayout="row wrap" fxLayout.xs="row wrap" fxLayoutAlign="space-evenly center">
        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>Cause:</mat-label>
            <mat-select formControlName="cause">
              <mat-option value="teamMember">Team member</mat-option>
              <mat-option value="dispatcher">Dispatcher</mat-option>
              <mat-option value="edWorker">ED worker</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>Subcause:</mat-label>
            <mat-select formControlName="subcause">
              <mat-option value="teamMember">Team member</mat-option>
              <mat-option value="dispatcher">Dispatcher</mat-option>
              <mat-option value="edWorker">ED worker</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>Construction type:</mat-label>
            <mat-select formControlName="constructionType">
              <mat-option value="teamMember">Team member</mat-option>
              <mat-option value="dispatcher">Dispatcher</mat-option>
              <mat-option value="edWorker">ED worker</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>Material:</mat-label>
            <mat-select formControlName="material">
              <mat-option value="teamMember">Team member</mat-option>
              <mat-option value="dispatcher">Dispatcher</mat-option>
              <mat-option value="edWorker">ED worker</mat-option>
            </mat-select>
        </mat-form-field>

        <button [disabled]='!resolutionForm.valid' fxFlex="30" mat-flat-button color="accent" type="submit">Save</button>
        <button fxFlex="30" mat-flat-button color="warn" type="submit">Cancel</button>
    </form>
</div>