<h1 fxLayout="row" fxLayoutAlign="center center">WORK REQUEST - NEW</h1>
<mat-tab-group mat-align-tabs="center" animationDuration="0ms">
    <mat-tab label="Basic info">
        <app-work-request-basic-info></app-work-request-basic-info>
    </mat-tab>
    <mat-tab label="History of state changes">
        <app-work-request-history></app-work-request-history>
    </mat-tab>
    <mat-tab label="Multimedia">
        <app-work-request-multimedia></app-work-request-multimedia>
    </mat-tab>
    <!-- <mat-tab label="Equipment">
        <app-new-incident-equipment></app-new-incident-equipment>
    </mat-tab> -->
  </mat-tab-group>
