table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 20%;
  }
  
  td, th {
    width: 20%;
    cursor: pointer;
  }

  mat-button-toggle-group {
      margin-right: 20px;
  }

  #addNew {
    margin-right: 20px;
  }

  .smallField {
    width: 10%;
  }

  .mapField {
    width: 5%;
  }