<div fxLayout.xs="row wrap" fxLayout="row wrap">
    <div fxFlex="100" fxLayoutAlign="space-around center">
        <mat-button-toggle-group [(ngModel)]="readNotifications" (click)="filterNotifications()">
            <mat-button-toggle value="all" ngDefaultControl>All</mat-button-toggle>
            <mat-button-toggle value="read" ngDefaultControl>Read</mat-button-toggle>
            <mat-button-toggle value="unread" ngDefaultControl>Unread</mat-button-toggle>
        </mat-button-toggle-group>

        <mat-button-toggle-group [(ngModel)]="typeNotifications" (click)="filterNotifications()">
            <mat-button-toggle value="all" ngDefaultControl>All</mat-button-toggle>
            <mat-button-toggle value="warnings" ngDefaultControl>Warnings</mat-button-toggle>
            <mat-button-toggle value="errors" ngDefaultControl>Errors</mat-button-toggle>
            <mat-button-toggle value="info" ngDefaultControl>Info</mat-button-toggle>
            <mat-button-toggle value="success" ngDefaultControl>Success</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div class="notificationlist" fxLayoutAlign="space-around space-around" fxFlex="100" fxFlex.lt-lg="100">
        <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
            <mat-chip *ngFor="let chip of pagedNotifications" selected [color]="chip.color" (click)="ReadNotification(chip.id)">
                <div fxFlex="10" *ngIf="chip.type === 'Warning'">
                    <mat-icon>warning</mat-icon>    
                </div>
                <div fxFlex="10" *ngIf="chip.type === 'Success'">
                    <mat-icon>check_circle_outline</mat-icon> 
                </div>
                <div fxFlex="10" *ngIf="chip.type === 'Error'">
                    <mat-icon>remove_circle_outline</mat-icon> 
                </div>
                <div fxFlex="10" *ngIf="chip.type === 'Info'">
                    <mat-icon>error_outline</mat-icon> 
                </div>
                <div fxFlex="70" >
                    {{chip.content}}
                </div>
                <div fxFlex="20">
                    {{chip.dateTimeCreated}}
                </div>
            </mat-chip>
        </mat-chip-list>     
    </div>
    <mat-paginator fxFlex="100" [length]="length"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex"
               [pageSizeOptions]="pageSizeOptions"
               (page)="change($event)">
    </mat-paginator>
</div>