<mat-toolbar *ngIf="userRole">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>emoji_objects</mat-icon>
    </button>
    <span id='homeSpan' routerLink="/">TESLA</span>

    <span class="example-spacer"></span>
    <ng-container *ngIf="accountService.currentUser$ | async">
      <button mat-icon-button class="example-icon" routerLinkActive='active' routerLink="/dashboard" aria-label="Example icon-button with heart icon">
        <mat-icon>dashboard</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" routerLinkActive='active' routerLink="/profile" aria-label="Example icon-button with heart icon">
        <mat-icon>person</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" routerLinkActive='active' routerLink="/notifications" aria-label="Example icon-button with heart icon">
        <mat-icon>notifications_none</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" routerLinkActive='active' routerLink="/map" aria-label="Example icon-button with heart icon">
        <mat-icon>map</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" *ngIf="userRole == 'Admin'" [matMenuTriggerFor]="menu2" aria-label="Example icon-button with heart icon">
        <mat-icon>settings</mat-icon>
        <mat-menu #menu2="matMenu">
          <button routerLink="/changeuserstatus" mat-menu-item>Change user status</button>
        </mat-menu>
      </button>
      <button mat-icon-button class="example-icon" routerLinkActive='active' routerLink="/devices" aria-label="Example icon-button with heart icon">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-button *ngIf="userRole == 'Admin'" [matMenuTriggerFor]="menu"><mat-icon>add_box</mat-icon>
        <mat-menu #menu="matMenu">
          <button routerLink="/devices" mat-menu-item>add devices</button>
          <button routerLink="/crews" mat-menu-item>add crews</button>
          <button routerLink="/consumers" mat-menu-item>add consumers</button>
        </mat-menu>
      </button>
      
      
  
      <button (click)="logout()" mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with heart icon">
        <mat-icon>logout</mat-icon>
      </button>
    </ng-container>
  </mat-toolbar>
