<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>emoji_objects</mat-icon>
    </button>
    <span id='homeSpan' routerLink="/">TESLA</span>

    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon" routerLink="/dashboard" aria-label="Example icon-button with heart icon">
      <mat-icon>dashboard</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" routerLink="/profile" aria-label="Example icon-button with heart icon">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" routerLink="/notifications" aria-label="Example icon-button with heart icon">
      <mat-icon>notifications_none</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" routerLink="/map" aria-label="Example icon-button with heart icon">
      <mat-icon>map</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with heart icon">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with heart icon">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with heart icon">
      <mat-icon>add_box</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with heart icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
