<div fxLayoutAlign="center center">
    <form [formGroup]="addCallForm" (ngSubmit)="addCallForm.valid && addCall()" autocomplete="off" fxFlex="80" fxFlex.lt-lg="70" fxLayout="row wrap" fxLayout.xs="row wrap" fxLayoutAlign="space-evenly center">
        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>Reason:</mat-label>
            <mat-select formControlName="reason">
              <mat-option value="noElectricity">No electricity</mat-option>
              <mat-option value="malfunction">There is a malfunction</mat-option>
              <mat-option value="flickeringLights">Flickering lights</mat-option>
              <mat-option value="powerBack">Power back</mat-option>
              <mat-option value="partialCurrent">Partial current</mat-option>
              <mat-option value="voltageProblems">Voltage problems</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>Comment:</mat-label>
            <input matInput formControlName="comment">
        </mat-form-field>

        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>Hazard:</mat-label>
            <input matInput formControlName='hazard'>
        </mat-form-field>

        <button (click)="openDialog()" fxFlex="60" type="button" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>person_add</mat-icon> Select customer
        </button>

        <div [formGroup]="customerInfo">
            <mat-form-field fxFlex="100" appearance="fill">
                <mat-label>First Name</mat-label>
                <input disabled matInput formControlName="name">
            </mat-form-field>
            <mat-form-field fxFlex="100" appearance="fill">
                <mat-label>Last Name</mat-label>
                <input disabled matInput formControlName="lastName">
            </mat-form-field>
            <mat-form-field fxFlex="100" appearance="fill">
                <mat-label>Phone Number</mat-label>
                <input disabled matInput formControlName="phoneNumber">
            </mat-form-field>
        </div>
        
        <!-- <button [disabled]='!addCallForm.valid' fxFlex="30" mat-flat-button color="accent" type="submit">Add</button> -->
        <button fxFlex="50" [mat-dialog-close]="true" mat-flat-button color="warn" type="button">Cancel</button>
        <button fxFlex="50" (click)="cancel()" [disabled]="!addCallForm.valid" mat-flat-button color="accent" type="submit">Add</button>
    </form>
    
</div>