<div fxLayoutAlign="center center">
    <button mat-button *ngIf="userRole == 'Dispatcher'" [disabled]="currentCrew != undefined" (click)="openDialog()">
        <mat-icon>add_circle</mat-icon> Add Crew
    </button>
    <button mat-button *ngIf="userRole == 'Dispatcher'" [disabled]="currentCrew == undefined" (click)="removeCrew()">
        <mat-icon>delete</mat-icon> Remove Crew
    </button>
</div>

<div *ngIf="crewInfoForm && currentCrew" [formGroup]="crewInfoForm">
    <mat-form-field fxFlex="100" appearance="fill">
        <mat-label>Crew Id</mat-label>
        <input disabled matInput formControlName='id'>
    </mat-form-field>
    <mat-form-field fxFlex="100" appearance="fill">
        <mat-label>Crew Name</mat-label>
        <input disabled matInput formControlName='name'>
    </mat-form-field>
    <mat-form-field fxFlex="100" appearance="fill">
        <mat-label>Crew Members</mat-label>
        <input disabled matInput formControlName='members'>
    </mat-form-field>
</div>

<div fxLayoutAlign="space-around center">
    <button fxFlex="15" (click)="cancel()" mat-flat-button color="warn" type="submit">Cancel</button>
</div>

