
<h1 fxLayoutAlign="center center">Add new device</h1>
<div id="register" fxLayoutAlign="center center">
    <form [formGroup]="newDeviceForm" (ngSubmit)="newDeviceForm.valid && add()" autocomplete="off" fxFlex="40" fxFlex.lt-lg="70" fxLayout="row wrap" fxLayout.xs="row wrap" fxLayoutAlign="space-evenly center">
        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>Type</mat-label>
            <mat-select formControlName="deviceType">
              <mat-option value="powerSwitch">Power switch</mat-option>
              <mat-option value="fuse">Fuse</mat-option>
              <mat-option value="transformer">Transformer</mat-option>
              <mat-option value="disconnector">Disconnector</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>Id</mat-label>
            <input matInput formControlName="id">
        </mat-form-field>
        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="PRE1" formControlName="name">
        </mat-form-field>
        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>Address</mat-label>
            <input matInput formControlName='address'>
        </mat-form-field>
        <mat-form-field fxFlex="100" appearance="fill">
            <mat-label>Coordinates</mat-label>
            <input matInput formControlName='coordinates'>
        </mat-form-field>
        
        <button fxFlex="45" mat-raised-button color="warn" (click)="cancel()">Cancel</button>
        <button [disabled]='!newDeviceForm.valid' fxFlex="45" mat-flat-button color="accent" type="submit">Add</button>
    </form>
</div>