<div>
    <span fxFlex="40">Current state: {{this.currentState}}</span>
    <span fxFlex="40">Document state options:&nbsp;&nbsp;
        <button fxFles="20" *ngIf="userRole == 'Dispatcher'" [disabled]='this.currentState === "Approved"' mat-flat-button color="accent" (click)="Approve()" type="button">Approve</button>
        <button fxFles="20" *ngIf="userRole == 'Dispatcher'" [disabled]='this.currentState === "Issued"' mat-flat-button color="primary" (click)="Issue()" type="button">Issue</button>
        <button fxFles="20" *ngIf="userRole == 'Dispatcher'" [disabled]='this.currentState === "Denied"' mat-flat-button color="warn" (click)="Deny()" type="button">Deny</button>
    </span>
</div>


<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
    
        <!-- Changed by Column -->
        <ng-container matColumnDef="changedBy" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Changed by </th>
            <td mat-cell *matCellDef="let row"> {{row.userId}} </td>
        </ng-container>
    
        <!-- Status Column -->
        <ng-container matColumnDef="changedFrom">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Changed from </th>
            <td mat-cell *matCellDef="let row"> {{row.changedFrom}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="changedTo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Changed to </th>
            <td mat-cell *matCellDef="let row"> {{row.changedTo}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="dateTimeChanged">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Time </th>
            <td mat-cell *matCellDef="let row"> {{row.dateTimeChanged}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
